<script>
	var usdRate = @ViewData["UsdRate"];
	var eurRate = @ViewData["EurRate"];
	var btcRate = @ViewData["BtcRate"];
</script>
<script src="~/ximblock.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script type="text/javascript" src="instascan.min.js"></script>
<script src="~/index.js"></script>
<h1 id="title">Unlock Wallet</h1>
<div id="response" style="display: none"></div>
<main id="main-panel" class="tab-pane block--container active" ng-if="globalService.currentTab==globalService.tabs.generateWallet.id" ng-controller="walletGenCtrl" role="main">
	<article class="block__wrap gen__1" ng-show="!wallet &amp;&amp; !showGetAddress">
		<section class="block__main">
			<div id="unlockKeystorePanel" style="display: none">
				<b style="margin-left:10px">Keystore Wallet</b> found in your browser. Please enter your password to unlock your wallet.<br />
				<ul>
					<li class="unlock-button">
						<input type="password" id="keystorePasswordUnlock" class="form-control" placeholder="Password" />
						<button class="btn btn-primary" id="unlockKeystoreButton" onclick="unlockKeystore()">Unlock Keystore wallet</button>
						<script>
							$("#keystorePasswordUnlock").keyup(function (event) {
								if (event.keyCode === 13 && $("#unlockKeystorePanel").is(":visible"))
									unlockKeystore();
							});
						</script>
					</li>
					<li class="unlock-button">
						If you have a local backup, you can delete the Keystore found in your browser to start over<br />
						<button class="btn btn-primary" style="width:" id="deleteKeystoreButton" onclick="deleteKeystore()">Delete Keystore file</button>
					</li>
				</ul>
				<br />
			</div>
			<div id="createLocalWalletPanel">
				Create local password-protected wallet (make sure your are safe & no one is watching). <b>Store only a reasonable amount for daily use</b>. Never give this to anyone, they can steal your funds.
				<ul>
					<li class="unlock-button"><button onclick="createKeystoreWallet()" class="btn btn-primary" id="createKeystoreButton">Create Keystore Wallet</button><br /></li>
					<a asp-area="" asp-controller="Home" asp-action="AboutCreateNewWallet">Guide on creating your first Keystore Wallet</a>
				</ul>
				<br />
			</div>
			<div id="createKeystorePasswordPanel" style="display:none">
				<div id="createKeystoreOutput"></div>
				<input type="password" id="keystorePassword" oninput="passwordChanged()" class="form-control" placeholder="Password" />
				Please repeat the password.<br />
				<input type="password" id="keystorePasswordRepeated" oninput="passwordChanged()" class="form-control" placeholder="Repeat Password" />
				<span id="passwordResult">Please enter at least 8 characters, the password must contain different letters with numbers or symbols.</span>
				<br />
				<button disabled="disabled" class="btn btn-primary" id="generateKeystoreButton" onclick="generateKeystoreFile()">Download Keystore File</button>
			</div>
			<div id="importingPanel">
				Importing from backups (to recover funds or when using a different device)
				<ul>
					<li class="unlock-button"><button onclick="importKeystoreWallet()" class="btn btn-primary" id="importKeystoreButton">Import Keystore File</button></li>
					<li class="unlock-button" id="importKeystorePanel" style="display: none">
						Keystore file:
						<input type='file' id="keystoreFile" accept=".KeyStore" />
						<button class="btn btn-primary" id="loadKeystoreButton" onclick="loadKeystoreFile()" title="Loads the provided Keystore file into this browser instance to unlock and access it via your password">Load Keystore File</button>
					</li>
					<li class="unlock-button"><button onclick="importPrivateKey()" class="btn btn-primary" id="importPrivateKeyButton">Import Private Key</button></li>
					<li class="unlock-button" id="privateKeyInputPanel" style="display: none">
						<button onclick="enableQrScanPrivateKey()" class="btn btn-primary">Enable QR Code Scanner</button>
						<video id="preview" style="display: none"></video><br />
						<span id="previewResult" style="display: none">QR Code Scanner ready, please scan a XIM private key!</span>
						<script type="text/javascript">
							function enableQrScanPrivateKey() {
								$("#preview").show();
								$("#previewResult").show();
								let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
								scanner.addListener('scan',
									function(content) {
										console.log(content);
										$("#privateKeyInput").val(content);
										scanner.removeAllListeners();
										$("#preview").hide();
										$("#previewResult").text("Successfully scanned XIM private key!");
									});
								Instascan.Camera.getCameras().then(function(cameras) {
									if (cameras.length > 0) {
										scanner.start(cameras[0]);
									} else {
										console.error('No cameras found.');
										$("#previewResult").text("No camera for QR Scanner found!");
									}
								}).catch(function(e) {
									console.error(e);
									$("#previewResult").text(e);
								});
							}
						</script>
						<input type="password" id="privateKeyInput" class="form-control" placeholder="Private Key"/>
						<span id="createPrivateKeyNotes">
							Please enter your private key (hexa encoded or WIF) to import it into a Keystore Wallet. Once created, secure it with a password!
						</span><br/>
						<button onclick="importPrivateKeyToKeystore()" class="btn btn-primary">Create Keystore from Private Key</button>
					</li>
					@*<li class="unlock-button"><a asp-controller="Home" asp-action="Address">Check any wallet address in read-only mode</a></li>*@
				</ul>
			</div>
			<script>
				if (localStorage.getItem("keystore")) {
					$("#createLocalWalletPanel").hide();
					$("#importingPanel").hide();
					$("#unlockKeystorePanel").show();
				}
			</script>
		</section>
		<section class="block__help">
			<h2>Important</h2>
			<ul>
				<li>
					<p>
						<strong>MyXimBlockWallet.org is NOT an online wallet</strong>:
						This site NEVER stores or uses your private keys or wallet. All funds are 100% under your control and local.
					</p>
				</li>
				<li>
					<p>
						You can use this website offline, only for sending XIM you need to communicate with the blockchain!
					</p>
				</li>
				@*<li>
						<p>
							Advanced features like <b>SwiftTX</b> and <b>Obfuscation</b> are supported.
						</p>
					</li>*@
				<li>
					<p>
						<a href="https://github.com/XimBlockProject/Wallet-Web" target='_blank' rel='noopener noreferrer'>Open source</a>, non-profit and free to use.
					</p>
				</li>
			</ul>
		</section>
	</article>
	<br />
</main>
<div id="send-panel" style="display:none" class="row ng-hide" ng-show="wallet!=null" ng-controller="viewWalletCtrl">
	<article class="col-sm-8 view-wallet-content">
		<article class="block" ng-hide="wallet.type=='addressOnly'">
			<!-- Amount to Send -->
			<section class="row form-group">
				<div class="col-sm-11">
					<label>How much do you want to send?</label>
				</div>
				<div class="col-sm-11" style="width: 95%">
					<div class="input-group">
						<input type="number" min="0" step="1" class="form-control ng-pristine ng-untouched ng-valid ng-empty is-invalid" placeholder="Amount" id="amount" oninput="updateAmountInfo()" ng-model="tx.value" ng-disabled="tx.readOnly || checkTxReadOnly" ng-class="Validator.isPositiveNumber(tx.value) ? 'is-valid' : 'is-invalid'">
						<div class="dropdown input-group-btn">
							<button id="selectCurrency" style="min-width: 100px" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="selectedSendCurrency">XIM</span> <i class="caret"></i></button>
							<div class="dropdown-menu" aria-labelledby="selectCurrency">
								<a class="dropdown-item" onclick="setSendCurrency('XIM')">XIM</a>
								<a class="dropdown-item" onclick="setSendCurrency('USD')">USD</a>
								<a class="dropdown-item" onclick="setSendCurrency('EUR')">EUR</a>
							</div>
						</div>
					</div>
					<div id="amount-info-box">1 XIM = @ViewData["XimBlockPrices"] (1 XIM = @ViewData["BtcRate"] BTC)</div>
				</div>
			</section>
			<!-- To Address -->
			<div class="row form-group">
				<div class="col-xs-11" style="width: 95%">
					<button onclick="enableQrScanAddress()" class="btn btn-primary">Scan QR Code Address</button>
					<video id="addressPreview" style="display: none"></video><br />
					<span id="addressPreviewResult" style="display: none">QR Code Scanner ready, please scan a XIM address!</span><br />
					<script type="text/javascript">
						function enableQrScanAddress() {
							$("#addressPreview").show();
							$("#addressPreviewResult").show();
							let scanner = new Instascan.Scanner({ video: document.getElementById('addressPreview') });
							scanner.addListener('scan',
								function(content) {
									console.log(content);
									$("#toAddress").val(content.replace('ximblock:',''));
									scanner.removeAllListeners();
									$("#addressPreview").hide();
									$("#addressPreviewResult").text("Successfully scanned XIM address!");
								});
							Instascan.Camera.getCameras().then(function(cameras) {
								if (cameras.length > 0) {
									scanner.start(cameras[0]);
								} else {
									console.error('No cameras found.');
									$("#addressPreviewResult").text("No camera for QR Scanner found!");
								}
							}).catch(function(e) {
								console.error(e);
								$("#addressPreviewResult").text(e);
							});
						}
					</script>
					<label>To Address</label>
					@*
				<input id="sendToAddress" type="radio" name="tabs" checked>
				<label class="sendLabel" for="sendToAddress">To Address</label>
				<input id="sendToEmail" type="radio" name="tabs">
				<label class="sendLabel" for="sendToEmail">Email</label>
				<input id="sendToTwitter" type="radio" name="tabs">
				<label class="sendLabel" for="sendToTwitter">Twitter</label>
				<input id="sendToReddit" type="radio" name="tabs">
				<label class="sendLabel" for="sendToReddit">Reddit</label>
				<input id="sendToDiscord" type="radio" name="tabs">
				<label class="sendLabel" for="sendToDiscord">Discord</label>
				<input id="sendToTelegram" type="radio" name="tabs">
				<label class="sendLabel" for="sendToTelegram">Telegram</label>*@

					<input class="form-control is-invalid" style="margin-top: 1px" type="text" id="toAddress" oninput="updateAmountInfo()" placeholder="DCT5GRhHq5t1DWZSrMBEGBZULRhCREB1s9">
					@*
				<section id="contentToEmail">
					<input class="form-control is-invalid" style="margin-top:1px" type="text" id="toEmail" oninput="updateAmountInfo()" placeholder="Some@@Email.com">
					<input class="form-control is-invalid" style="margin-top:1px" type="text" id="toEmailExtraText" placeholder="Optional Message to the receiver, e.g. Thanks for Dinner">
					<div class="small-info-box">
						<a href="/Tipping" target="_blank">How it works</a>: You can tip anyone via email. If the receiver has received XIM via Email before, the funds will be send directly to his wallet and a notification email is send out. Otherwise the receiver will get a redeem link to a fresh MyXimBlockWallet with his tip that. If the receiver does not redeem his XIM within 7 days, all XIM will be returned to you.
					</div>
				</section>
				<section id="contentToTwitter">
					<input class="form-control is-invalid" style="margin-top:1px" type="text" id="toTwitter" oninput="updateAmountInfo()" placeholder="@@TwitterUsername">
					<input class="form-control is-invalid" style="margin-top:1px" type="text" id="toTwitterExtraText" placeholder="Optional Message to the receiver, e.g. Thanks for the retweet">
					<div class="small-info-box">
						<a href="/Tipping" target="_blank">How it works</a>: If the receiver has a MyXimBlockWallet address, the funds will be send directly to his wallet. Otherwise the receiver will get a tweet with the tip only he can redeem (times out after 7 days and will return to you if not collected).
					</div>
				</section>
				<section id="contentToReddit">
					<input class="form-control is-invalid" style="margin-top:1px" type="text" id="toReddit" oninput="updateAmountInfo()" placeholder="/u/RedditUsername">
					<input class="form-control is-invalid" style="margin-top:1px" type="text" id="toRedditExtraText" placeholder="Optional Message to the receiver, e.g. Thanks for the article">
					<div class="small-info-box">
						<a href="/Tipping" target="_blank">How it works</a>: If the receiver has a MyXimBlockWallet address or tipped himself before, the funds will be send directly to his wallet. Otherwise the receiver will get a private message with the tip only he can redeem (times out after 7 days and will return to you if not collected).
					</div>
				</section>
				<section id="contentToDiscord">
					<input class="form-control is-invalid" style="margin-top:1px" type="text" id="toDiscord" oninput="updateAmountInfo()" placeholder="@@DiscordUsername#1234 in XIMNation on Discord">
					<input class="form-control is-invalid" style="margin-top:1px" type="text" id="toDiscordExtraText" placeholder="Optional Message to the receiver, e.g. Thanks for the help">
					<div class="small-info-box">
						<a href="/Tipping" target="_blank">How it works</a>: The receiver must be on the <a href="https://discordapp.com/invite/9z8zX5j">XIMNation Discord chat server</a>! If the receiver has a MyXimBlockWallet address or used the bot on Discord before, the funds will be send directly to his wallet. Otherwise the receiver will get a private message with the tip only he can redeem (times out after 7 days and will return to you if not collected).
					</div>
				</section>
				<section id="contentToTelegram">
					<input class="form-control is-invalid" style="margin-top:1px" type="text" id="toTelegram" oninput="updateAmountInfo()" placeholder="@@TelegramUsername in t.me/XIM">
					<div class="small-info-box">
						<a href="/Tipping" target="_blank">How it works</a>: The receiver must be in the <a href="https://t.me/XIM">XIM telegram group</a>! If the receiver has a MyXimBlockWallet address or tipped himself before, the funds will be send directly to his wallet. Otherwise the receiver will get a private message with the tip only he can redeem (times out after 7 days and will return to you if not collected).
					</div>
				</section>*@
				</div>
			</div>
			@*
		<!-- Advanced Options: InstantSend and PrivateSend -->
		<label><input type="checkbox" id="useInstantSend" value="false" onclick="updateTxFee(0)"> InstantSend: Confirms within 1-2 seconds, tx fee = 10 XIM</label> <a href="/AboutInstantSend" target="_blank">About</a><br />
		<label><input type="checkbox" id="usePrivateSend" value="false" onclick="updateTxFee(0)"> PrivateSend: Makes transaction untraceable, tx fee = 10+ XIM</label> <a href="/AboutPrivateSend" target="_blank">About</a><br />
			*@
			<div class="small-info-box">
				Transaction cost: <span id="txFeeXIM">0</span> XIM ($<span id="txFeeUsd">0.00</span>) 
				<input type="checkbox" id="useFreeTx" checked onclick="updateTxFee(0)"> 0 XIM fee <span id="extraTxNotes"></span><a href="/AboutTransactionFees" target="_blank">About</a>
			</div>

			@*send raw tx: https://github.com/LedgerHQ/ledger-node-js-api*@
			<div class="row form-group">
				<div class="col-xs-12 clearfix">
					<a class="btn btn-info btn-block" id="generateButton" onclick="generateTransaction()" style="background-color: gray">Generate Transaction</a>
				</div>
			</div>
			<div id="transactionPanel" style="display: none">
				<ul id="rawTransactionData"></ul>
			</div>
			<div class="small-info-box" id="txDetailsPanel" style="word-wrap: break-word;display:none" onclick="showTxDetails()"><ul><li>Click to show raw transaction details for techies.</ul></div>
			<a class="btn btn-info btn-block" id="signButton" onclick="signAndSendTransaction()" style="background-color: gray; display: none;">Send Signed Transaction</a>
			<div style="padding-top: 10px; font-size: 15px;" id="resultPanel"></div>
		</article>

		<article id="paperWalletPanel" class="block" ng-hide="wallet.type=='addressOnly'" style="display:none">
			<div style="display:none">
				<input type="password" />@*dummy to prevent storing pw for private key unlocking*@
			</div>
			<input type="password" id="paperWalletPasswordUnlock" class="form-control" placeholder="Password to unlock private key for PaperWallet" />
			<a class="btn btn-info btn-block" id="createPaperWalletButton" onclick="createPaperWallet()">Unlock Private Key <span class="skip-when-small">for PaperWallet</span></a>
			<span id="paperWalletError"></span>
			<div id="paperWalletDetails" style="display: none">
				<table style="width: 100%; border: 0;margin:0">
					<tr>
						<td>
							<h5>
								<span>Private Key (unencrypted, never share this)</span>
							</h5>
							<input id="privateKeyHexa" class="form-control" readonly="readonly" style="font-size: 14px" title="Hexa Encoded">
							<input id="privateKeyWif" class="form-control" readonly="readonly" style="font-size: 14px" title="WIF Encoded">
							<div class="account-help-icon">
								<img src="/images/icon-help.svg" class="help-icon" style="margin-top: -80px;">
								<p class="account-help-text">This is the unencrypted text version of your private key, meaning no password is necessary. If someone were to find your unencrypted private key, they could access your wallet without a password. For this reason, encrypted versions (like your Keystore) are typically recommended.</p>
							</div>
							<a class="btn btn-info" style="font-size: 18px; text-decoration: none" onclick="window.print()">Print PaperWallet</a>
						</td>
						<td width="180"><img id="privateKeyQr" title="Your private key, never share this with anyone!" style="float: right;" /></td>
					</tr>
				</table>
				<div class="small-info-box" style="margin-top: 8px;">
					You can also go to <a href="https://walletgenerator.net/?currency=ColossusCoinXT" target="_blank" rel="noopener noreferrer">https://walletgenerator.net/?currency=ColossusCoinXT</a> (do this completely offline for better safety), you don't need to be online on MyXimBlockWallet.org or walletgenerator.net. On <a href="https://https://walletgenerator.net/?currency=ColossusCoinXT" target="_blank" rel="noopener noreferrer">https://walletgenerator.net/?currency=ColossusCoinXT</a> click Paper Wallet (skip seed generation) and enter your private key for more formats: WIF, Compressed, BIP38 Encrypted
				</div>
			</div>
		</article>
	</article>
	<article class="col-sm-4">
		<aside>
			<div class="block" style="max-width: 320px;padding-left: 16px; padding-right:20px;">
				<h5>
					Your Account Balance
					<div id="refreshing-amount-timeout" style="float: right; font-size: 11px;display:none">Refreshing in <span id="balance-check-time">5s</span></div>
				</h5>
				<ul class="account-info point">
					<li onclick="setTotalAmountToSend()" title="Click to set as amount to send">
						<b><span id="totalAmountXIM" class="mono wrap">0.0</span></b> XIM
						<br />
						= <b>$<span id="totalAmountUsd" class="mono wrap">0.00</span></b> USD
						<br />
						= <b>€<span id="totalAmountEur" class="mono wrap">0.00</span></b> EUR
					</li>
				</ul>
				<br />
				<h5 title="Shows your addresses, newest is the top one">Your receiving address</h5>
				<ul class="account-info" id="addressList">
					<li>
						<a href="https://explorer.ximblock.io/xim/address.dws?" target="_blank" rel="noopener noreferrer">
							<img src="/images/QrCodeWhenUnlocked.png" title="Your freshest XIM Address should be used for receiving XIM, you will get a new one once this has been used!" /><br />
						</a>
						<div class="address-amount">0 XIM</div>
					</li>
				</ul>
			</div>
		</aside>
	</article>
</div>